<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Game>
    <ShowSplashVideo>False</ShowSplashVideo>
    <FullScreenMode>False</FullScreenMode>
    <StretchControlsInFSMode>True</StretchControlsInFSMode>
    <CheckUpdatesOnStartup>False</CheckUpdatesOnStartup>
  </Game>
  <Battlefield>
    <ShowPath>False</ShowPath>
    <ShowGrid>False</ShowGrid>
  </Battlefield>
  <Sound>
    <PlaySound>True</PlaySound>
    <PlayMusic>False</PlayMusic>
    <VolumeSound>50</VolumeSound>
    <VolumeMusic>50</VolumeMusic>
  </Sound>
  <Interface>
    <ShowShortNames>False</ShowShortNames>
    <ShowTypeCellMenu>True</ShowTypeCellMenu>
    <HideFulfilledRequirements>True</HideFulfilledRequirements>
    <ShowExtraHint>True</ShowExtraHint>
  </Interface>
</Settings>