<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Game>
    <ShowSplashVideo>False</ShowSplashVideo>
    <FullScreenMode>False</FullScreenMode>
    <CheckUpdatesOnStartup>False</CheckUpdatesOnStartup>
  </Game>
  <Battlefield>
    <ShowPath>False</ShowPath>
    <ShowGrid>False</ShowGrid>
  </Battlefield>
  <Sound>
    <PlaySound>False</PlaySound>
    <PlayMusic>False</PlayMusic>
  </Sound>
  <Interface>
    <ShowShortNames>False</ShowShortNames>
    <ShowTypeCellMenu>True</ShowTypeCellMenu>
    <HideFulfilledRequirements>True</HideFulfilledRequirements>
  </Interface>
</Settings>