<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Game>
    <ShowSplashVideo>False</ShowSplashVideo>
    <FullScreenMode>True</FullScreenMode>
    <CheckUpdatesOnStartup>False</CheckUpdatesOnStartup>
  </Game>
  <Battlefield>
    <ShowPath>False</ShowPath>
    <ShowGrid>False</ShowGrid>
  </Battlefield>
  <Player>
    <Name>Игрок №1</Name>
    <IndexAvatar>0</IndexAvatar>
  </Player>
</Settings>